<head>
	<meta charset="utf-8">

    <title>{{ site.title }}</title>

    <meta name="viewport"
          content="initial-scale=1">

	<link rel="stylesheet"
          href={{ "/assets/style.css" | prepend: site.baseurl }}
          charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/1.6.0/jquery.balancetext.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.24/webfontloader.js"></script>

    <script type="text/javascript">

        WebFont.load({
            google: {
                families: ['Merriweather:300,300italic', 'Simonetta']
            },

            active: function() {
                $( 'h1, h2, h3, h4, h5, h6' ).balanceText();
            }
        });

    </script>

</head>
