* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

hr {
    border: none;
}
