//                 hue  sat.  lum.
$blue:        hsl( 210, 100%, 20% );
$light-blue:  hsl( 210, 100%, 30% );
$orange:      hsl(  30,  85%, 30% );
$gray:        hsl(   0,   0%, 50% );
$light-gray:  hsl(   0,   0%, 93% );

i,
em,
cite {
    font-style: italic;

    & > & {
        font-style: normal;
    }
}

a {
    color: $blue;

    &:hover,
    &:focus {
        color: $light-blue;
        text-decoration: none;
    }

    @include media-print {
        color: #000;

        // make internal links look like plain text.
        &[href^="#"] {
            text-decoration: none;
        }

        &[data-link-number]::after {
            content: " [" attr(data-link-number) "]";
            font-style: normal;
            vertical-align: top;
            font-size: ms(-1);
            text-decoration: none;
            font-weight: 700;
        }
    }
}

blockquote {
    font-style: italic;
    border-left: ms(-2) solid $gray;
    background: $light-gray;

    @include media-print {
        border-left: 3px solid $gray;
    }
}

.aphorism {
    background: $light-gray;
    border-color: $orange;

    @include media-print {
        border-color: #000;
    }
}

// hr,
.chapter,
.section {

    @include media-screen {
        border-bottom: 1px solid $gray;
    }
}

.note {

    &__ref {
        vertical-align: top;
        font-size: ms(-1);
        text-decoration: none;
        font-weight: 700;
    }

    &__heading > a {
        text-decoration: none;
        border-bottom: 1px solid $blue;

        @include media-print {
            border: none;
        }
    }
}
